/* ---------- TYPOGRAPHY ---------- */

h1, label, ul {
    font-size: 30px;
    line-height: 44px;
    font-weight: 300;
    color: rgba(74, 74, 74, 1);
    font-family: 'Helvetica';
	}

h2 {
	font-family: 'Helvetica';
	font-size: 24px;
	line-height: 34px;
	font-weight: 300;
	color: rgba(0, 0, 0, .5);
	}
	
h3, li {
    font-weight: 300;
    color: #4A4A4A;
    margin: 0;
    letter-spacing: .5px;
    font-size: 14px;
	}
		
h4 {
	font-family: 'Helvetica';
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: rgba(0, 0, 0, .5);
	}

p {
	font-family: 'Helvetica';
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
	color: rgba(0, 0, 0, .5);
	}

label  {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
    color: rgba(74, 74, 74, 1);
    font-family: 'Helvetica';
	}

select {
	width: 300px;
    height: 40px;
    border-radius: 0px !important;
    background: white;
    font-size: 16px;
    padding: 30px !important;
    display: block;
    margin: 15px 30px;
    outline: none;}

input {
    background: none;
    box-shadow: none;
    border: 1px solid #9E9E9E;
    padding: 5px 10px;
    color: #9E9E9E;
    }

.form-field h4, select {
    font-weight: 300;
    color: rgba(0, 0, 0, .75);
    margin: 0;
}

input[type="file"] {
    display: block;
    border: none;
    padding: 20px 0;
}

input[type="submit"] {
	padding: 5px 10px;}

.copy h1 {}
	
.copy p {
    font-size: 20px;
    line-height: 30px;
	}

ul.nav li a {
	font-weight: 300;
    color: rgba(74, 74, 74, .5);
    letter-spacing: 1px;}

/* ---------- LINKS ---------- */

a:link, a:active, a:visited {
	text-decoration:none;
	opacity:1;
	-webkit-transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-ms-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	transition: opacity 0.25s linear;}

a:hover {
	color: initial;
	text-decoration:none;
	opacity: .5;
	-webkit-transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-ms-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	transition: opacity 0.25s linear;}
 
.cta a {
	color: #f8884d !important;
    font-weight: 500 !important;
    cursor: pointer;}

.btn {
	margin-top: 50px;
    font-size: 20px;
    width: 20%;
    border: 2px solid #f66012;
    text-align: center;
    padding: 10px;
    border-radius: 0;}

.inquiry-wrapper a{
	color: #f66012;}

.btn a{
	color: white !important;}

.btn:hover, .btn:focus, .btn.focus {
    color: white;
    text-decoration: none;
}
    
.nav > li > a:hover, .nav > li > a:focus {
	background: none !important;}
    
/*---------- LAYOUT ---------- */

body {
	padding: 0;}


section {
	display: inline-block;
	padding-top: 33vh !important;}


section > div {
	margin-bottom: 27vh;}

section > div:last-child {
	margin-bottom: 0px;}
	
section:last-child {
	margin-bottom: 100px !important;}

.vertAlign {
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    position: relative;}

.container {
	padding: 0px 100px 0 200px;
	float: left;
	}

.intro {
	padding-top: 250px;}

.inquiry-wrapper .intro {
	padding-top: 200px;
	margin-bottom: 20vh;}
	
section .copy {
	padding-left: 50px;}

.hero {
	height: 475px;
	background-color: #d6d6d6;
	float: right;
	background-image: url('https://raw.githubusercontent.com/bobsaban/durite/master/img/temp-hero.jpg');
	background-size: cover;
    background-repeat: no-repeat;
	}

.mobile-nav, .mobile {
	display: none;}

.desktop {
	display: block;}

/* ---------- nav ---------- */

.nav-container {
	width: 100px;
	position: fixed;
	z-index: 97;}

.logo {
	margin: 30px;}	
	
.logo a img {
	float: left;
	margin-right: 35px;}
	
ul.nav, ul.inquiry-sidenav {
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    position: fixed;
    list-style-type: none;
    left: 28px;
    padding: 0;
    }

.vertical-line {
	border-right: 1px solid #D7D7D7;
    width: 8px;
    display: block;
    margin: 12px;
}

ul.nav li {
    writing-mode: vertical-RL;
    font-size: 14px;
    line-height: 14px;}
	
ul.nav hr {
	margin: 10px 12.5px;
    width: 50px;}

.active {
	color: #F66012 !important;
	font-weight: 500 !important;
	}

.hamburger{
	outline: none;
    padding: 0;
    position: fixed;
    top: 37.5px;
    right: 37.5px;
    height: 18px;
    z-index: 100;}

.hamburger-box {
    width: 25px;
    height: 18px;}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 25px;
    height: 1px;}
    

.hamburger-inner:after {
    bottom: -8px;
}
.hamburger-inner:before {
    top: -8px;
}

/* ---------- HAMBURGER NAV---------- */

.hamburger-nav {
	display: none;
    height: 100vh;
    background-color: white;
    z-index: 99;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 80px;
}

.hamburger-nav h1, .hamburger-nav ul { 
	font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    line-height: 48px;
    color: black;
    opacity: 1;
    margin: 18px 0;
    list-style-type: none;
    padding-left: 0;
    }

    
.hamburger-nav ul {
	margin: 24px 0;
	} 

.hamburger-nav li {
	line-height: 26px;
	} 

.hamburger-nav li a {
	color: #9B9B9B;}
		
.hamburger-nav a {
	color: rgba(74, 74, 74, 1);}

.hamburger-nav .cta a {
	font-weight: 600 !important;}
	
.main-nav {
	position: fixed;}
.overlay {
	height: 100vh;
	background-color: rgba(74, 74, 74, .75);
	display: none;
	z-index: 97;
	position: fixed;
 }
/* ---------- SECTION Products---------- */

.mobile-product  {display: none;}
.product{
	padding: 10px;
	outline: none;}
	
.product-slide {
	margin-right: 25px;
	float: left;
	padding: 0;
	}
	
.bg-slide  {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d6d6d6;
    height: 40vh;
    padding: 0;}

.product-slider h3 {
	text-transform: capitalize;
    text-align: center;
    line-height: 48px;}
    
.product-slider .slide-1 {background-image: url('/durite/master/img/products/basin.jpg')}
.product-slider .slide-2 {background-image: url('/durite/master/img/products/counter.jpg')}
.product-slider .slide-3 {background-image: url('/durite/master/img/products/vanity.jpg')}
.product-slider .slide-4 {background-image: url('/durite/master/img/products/wall.jpg')}
.product-slider .slide-5 {background-image: url('/durite/master/img/products/bath.jpg')}
.product-slider .slide-6 {background-image: url('/durite/master/img/products/precast.jpg')}
.product-slider .slide-7 {background-image: url('/durite/master/img/products/bath.jpg')}

/* ---------- FORM ---------- */


ul.inquiry-nav {
	transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    position: fixed;
    list-style-type: none;
    left: 35px;
    padding: 0;}	

.dot {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #d7d7d7;
	margin: 18px 0;
	display: block;
}	

.active-dot, .dot:active  {
	background-color: #F66012 !important;
	display: block;
}

label {
	margin-bottom: 20px;
}

form {
    line-height: 150% !important;
}

input, textarea {
	padding: 10px;}
	
input[type="radio"], input[type="checkbox"] {
    margin: 0px 6px -1px;
    box-shadow: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 2px solid #d6d6d6;
    box-shadow: none;
    
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    float: left;
}

.form-field {  
    display: block;
    position: relative;
    width: 100%;
    float: left;
    border-top: 1px solid #f6f6f6;
}

.upload-wrapper {
	border: 1px solid #d6d6d6;
    height: 25vh;
    margin: 2%;}
    
.form-field h2 {
	margin-bottom: 0px;}

.submit, .btn {
	margin: 50px 0;
    font-size: 18px;
    border: 2px solid #f66012;
    text-align: center;
    padding: 12px !important;
    border-radius: 0;
    background: #f66012;
    color: white;
    font-weight: 500;}


    
/* ---------- PROCESS ---------- */

.process {
	margin: 50px auto;}

.process:first-child {
	margin: 0 auto 50px;}

.process:nth-child(3) {
	margin: 50px auto 0;}
	
#process .copy {
	padding-left: 100px;}

#process p {
	margin-top: 16px;}

	
.process-slide .bg-slide {
	height: 50vh;
	background-color: #d6d6d6;
	}

/* ---------- PROJECTS ---------- */

.project{
	background-color: #d6d6d6;
	height: 270px;
	padding: 25px;
	}

#portfolio img {
	display: block;
	margin: auto;}

/* ---------- 950px ---------- */

@media only screen and (max-width: 950px){ 


.product-slider {
	display: none !important;}
	
.mobile-product {
	display: block !important;}
	
.bg-slide  {
    height: 30vh;}
    
    
}	

/* ---------- IPHONE ---------- */	
@media only screen and (max-width: 700px){ 

	/* ---------- GENERAL ---------- */

	.desktop {
		display: none;}
	
	.mobile {
		display: block;}
		
	section {
		padding: 25px 0 !important;}
	
	section > div {
		margin-bottom: 100px;}
	
	section > div:last-child {
		margin-bottom: 25px;
	}
		
	.container {
		padding: 0 0px;
		width: 85%;
		margin: auto 7.5%;
		display: block;
		z-index: 1;}

	section .copy {
		padding: 0;}
	
	.vertAlign, ul.inquiry-sidenav {
		top: initial;
		transform: initial;
		-ms-transform: initial;
		-webkit-transform: initial;
		}
		
	.hamburger-nav .vertAlign {
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		top: 50%;
		position: relative;
		}
	/* ---------- TYPOGRAPHY ---------- */
	
	.copy p {
		margin-bottom: 0;
	}

	h1, label {
		font-size: 26px;
		line-height: 36px;}

	/* ---------- HEADER ---------- */

	.logo, .hamburger {
		top: 0;
    	margin: 16.5px 25px;}
    
    .logo a img {
		float: left;
		margin-right: 35px;
		width: 25px !important;
	}
	
	.hamburger {
		top: 0;
		left: inherit;
		right: 0;
		margin: 28px;
		z-index: 9999;}

	.mobile-nav {
		display: block;
		position: fixed;
		height: 75px;
		padding: 0;
		margin: 0;
		z-index:99;}
	
	.nav-container {
		height: 70px;
		border: none;
		width: 100%;
		background: white;
	}
	
	.hero {
		height: 33vh;}
	
	.intro {
		padding-top: 22vh !important;}

	/* ---------- HAMBURGER NAV ---------- */
		
	.hamburger-nav {
		padding: 0 50px;
	}
	
	.hamburger-nav h1, .hamburger-nav ul {
		text-align: right;
	}
	
	/* ---------- PRODUCT SLIDER ---------- */

		
    .mobile-product-slider {
    	width: 100%;}
	
	.slick-prev, .slick-next {
		bottom: 75px;
		z-index: 99;}
	
	.slick-prev {
		left: 0;}
	
	.slick-next {
		right: 0% !important;
		left: inherit;
		}

	.slick-list {
		width: 97%;}	
	
	.slick-dots li {
		width: 10px;}
		
	.product {
		outline: none;
		width: 50%;
		float: left;
	}
	
	.product:nth-child(odd){
		padding: 5px 10px 0 0; }
	
	.product:nth-child(even){
		padding: 5px 0 0 10px; }
		
	.bg-slide {
		height: 150px;
		margin-bottom: 16px;
	}
	
	.product h3 {	
		text-align: center;}

	/* ---------- PROCESS ---------- */
		
	#process .copy {
		padding: 0;}

	.process-slide .bg-slide {
		height: 200px;}
	
	#process p {
		padding-left: 0;}
	
	.process-wrapper > div {
		margin-bottom: 25px;}
	
	.process-wrapper > div:nth-child(even) {
		margin-bottom: 50px;}

	/* ---------- PROJECTS BRANDS ---------- */
	
	.brands .col-xs-4 {
    	min-height: 75px;}
    	
	.brands img {
		width: 100%;}

	/* ---------- INQUIRY FORM ---------- */
		
	ul.inquiry-sidenav {
		left: 45px;
		bottom: 3%;
		/* top: 0; */
		background: white;
		height: 50px;
		width: 74%;
		padding: 0;
		left: 0;
		margin: auto;
		display: block;
		left: 0;
		right: 0;
	}
	
	ul.inquiry-sidenav li {
		float: left;
		margin: 0 5px;}
	
	.btn {
		width: 50%;}


}



